.recipe-form-wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.recipe-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-form form {
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.amount-prep-cook {
  display: flex;
  opacity: 0.7;
}

.amount-prep-cook div {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border: 2px dashed whitesmoke;
  border-radius: 0.5rem;
}

.amount-prep-cook div:hover {
  border: 2px dashed #e100ff;
}

.number-input {
  background-color: inherit;
  width: 4rem;
  min-height: 50px;
  font-size: 2rem;
  font-weight: 400;
  outline: 0;
  border: 0;
  opacity: 0.5;
  border-bottom: 2px solid black;
  text-align: center;
}

.recipe-title-post {
  background-color: inherit;
  width: 80%;
  min-height: 50px;
  font-size: 3rem;
  font-weight: 400;
  outline: 0;
  border: 0;
  opacity: 0.8;
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 2px dashed whitesmoke;
}

.recipe-title-post:hover {
  border: 2px dashed #e100ff;
}

.recipe-intro-sentence {
  background-color: inherit;
  width: 80%;
  min-height: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  outline: 0;
  border: 0;
  opacity: 0.5;
  text-align: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 2px dashed whitesmoke;
}

.recipe-intro-sentence:hover {
  border: 2px dashed #e100ff;
}

.ingredients {
  margin: 1rem 1rem 0;
  padding: 1rem;
  font-weight: 600;
}

.ingredients p {
  margin: 0;
  font-size: 2rem;
  border-bottom: 2px solid black;
}

.ingredients-textarea {
  background-color: inherit;
  width: 100%;
  min-height: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  resize: none;
  margin: 1rem 0;
  padding: 1rem;
  border: 2px dashed whitesmoke;
}

.ingredients-textarea:focus {
  border: 2px dashed #e100ff;
}

.ingredients-textarea:hover {
  border: 2px dashed #e100ff;
}

.recipe-steps {
  margin: 1rem;
  padding: 1rem;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}

.recipe-steps-title {
  border-bottom: 2px solid black;
  margin: 0;
  font-size: 2rem;
}

.recipe-steps-textarea {
  background-color: inherit;
  width: 100%;
  min-height: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 1rem;
  border: 2px dashed gray;
}

.recipe-steps-textarea:hover {
  border: 2px dashed #e100ff;
}

.recipe-steps-textarea:focus {
  border: 2px dashed #e100ff;
}

.recipe-steps-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.recipe-step {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipe-step .step-div {
  width: 85%;
  word-wrap: break-word;
  padding: 0.5rem;
  background-color: lightgreen;
  color: rgba(0, 0, 0, 0.7)
}

.recipe-step-img-span {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 2px solid lightcoral;
  cursor: pointer;
}

.recipe-step-img-span:hover {
  background-color: lightcoral;
}

.recipe-step-img-span img {
  width: 1rem;
  height: 1rem;
}

.up-down {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 3rem;
  width: 5%;
}

.btn-up,
.btn-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 0.7rem;
  border: 2px solid #e5ff00c7;
}

.btn-up {
  border-radius: 0.5rem 0 0 0;
  border-bottom: 0;
}

.btn-down {
  border-radius: 0 0 0 0.5rem;
  border-top: 0;
}

.btn-up img {
  width: 1rem;
  height: 1rem;
}

.btn-down img {
  width: 1rem;
  height: 1rem;
}

.btn-up:hover,
.btn-down:hover {
  background-color: #e5ff00c7;
}

.recipe-post-button {
  font-size: 2rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  outline: 0;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2rem;
}

.recipe-post-button:hover {
  background-color: lightgreen;
}
